.word_input 
    border: solid black
    width: 223px
    display: flex
    flex-direction: column
    place-items: center
    gap: 0.5rem
    color: blue

    label
        display: flex
        flex-direction: column
        width: 100%
        gap: 1rem
        color: red

        input
            height: 1.5rem
            text-align: center
            border-radius: 5px
    
.word_submit_button
    width: 9rem
    padding: 0.5rem 0
    background-color: green

.word_submit_button:hover
    background-color: yellow
    
.word_submit_button:active
    background-color: red
    
            
